[submodule "lib/arduino-LoRa"]
	path = arduino/lib/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa.git
[submodule "lib/TinyGPSPlus"]
	path = arduino/lib/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
